
<div style="display: flex;align-items: center;">
  <mat-form-field style="flex: 1">
    <mat-label translate="placeholders.search"></mat-label>
    <input matInput [formControl]="searchControl" />
  </mat-form-field>
  <mat-slide-toggle style="padding-left: .3rem;" [formControl]="onlyUncheckedControl" >nur fertig</mat-slide-toggle>
</div>

<mat-list style="width: 400px;">
  <mat-list-item *ngFor="let todo of todos$ | async">
    <div style="width: 100%; display: flex;align-items: center;justify-content: space-between;" [routerLink]="['..', todo.id]">
      <span matLine>{{ todo.title }}</span> 
      <mat-checkbox (change)="toggleCheck(todo)" (click)="$event.stopPropagation()" [checked]="todo.checked"></mat-checkbox>
    </div>
  </mat-list-item>
</mat-list>