<p>todo-detail works!</p>

<button routerLink="..">Back</button>
{{
  todo$ | async | json
}}

<div class="box">Error Text</div>

<app-box [color]="boxColor" (myClick)="clicked($event);boxColor = boxColor === 'red' ? 'green' : 'red'"></app-box>

<!-- 
<div [@redGreen]="state"  (click)="state = state === 'red' ? 'green' : 'red' " style="width: 100px;height: 100px;">

</div> -->